requests
beautifulsoup4
pandas
paperscraper
pdfplumber
camelot-py
pytesseract
Pillow
langchain
langchain-core
langchain-community
python-dotenv
qdrant-client
sentence-transformers
langchain-qdrant
cerebras_cloud_sdk
streamlit
